body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Botones de Seguir Comprando, Actualizar y Confirmar en verde */
.nav-buttons button:nth-child(1),
.nav-buttons button:nth-child(2),
.nav-buttons button:nth-child(3) {
    background-color: #28a745;
}

.nav-buttons button:nth-child(1):hover,
.nav-buttons button:nth-child(2):hover,
.nav-buttons button:nth-child(3):hover {
    background-color: #218838;
}

#carrito-list, #carrito-detalles {
    margin-top: 20px;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.product img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
}

.total-amount {
    text-align: right;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .product {
        flex-direction: column;
        align-items: flex-start;
    }

    .product img {
        margin-bottom: 10px;
    }

    .total-amount {
        text-align: left;
    }
}
