body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center; /* Centra todo el contenido de la página */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-info span {
    font-size: 18px;
    margin-right: 20px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Centrado de la barra de filtro */
#filtros {
    margin-bottom: 20px;
    text-align: center;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrando la barra de filtro */
    margin-bottom: 15px;
}

.filter-container label {
    margin-right: 10px;
    font-size: 16px;
}

.filter-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

/* Centrar los botones de categorías */
.category-buttons {
    display: flex;
    gap: 10px;
    justify-content: center; /* Centrando los botones de categoría */
}

.category-buttons button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.category-buttons button:hover {
    background-color: #218838;
}

#productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    justify-items: center; /* Centrando los productos */
}

.product {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 18px;
    margin: 10px 0;
}

button {
    padding: 8px;
    font-size: 14px;
}

@media (max-width: 600px) {
    #productos {
        grid-template-columns: 1fr;
    }
}
